page-advance-goal {
  p {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-size: 13pt;
    text-align: justify;
    margin-top: 0;
  }
  ion-row {
    text-align: center;
    ion-icon {
      border-radius: 50%;
      font-size: 28pt;
      padding: 12pt;
      height: 40pt;
      width: 40pt;
      margin: 5pt;
    }
  }
}
