page-home {
  font-size: 14pt;
  .advance-general{
    margin-top: 90pt;
    font-size: 110pt;
  }
  ion-row {
    text-align: center;
    vertical-align: middle;
  }
  sub {
    font-size: 35%;
  }
  .blank-space{
    height: 20pt;
  }
}
