// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: #488aff,
  secondary: #32db64,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

@font-face {
  font-family: BungeeInline;
  src: url("../assets/fonts/BungeeInline-Regular.ttf");
}

// estilos personalizados
ion-content.content-home {
  background-image: url(../assets/imgs/background-01.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #eeeeee;
  padding: 0;
  background-size: cover !important;
  color: #ffffff;
  font-family: BungeeInline !important;
}

.toolbar-title.toolbar-title-md {
  font-family: BungeeInline !important;
}

.toolbar.toolbar-md.toolbar-md-primary, .toolbar-background.toolbar-background-md {
  background-color: transparent !important;
}

.toolbar-title-md {
  font-size: 12pt !important;
}

.header-md::after {
  background-image: none !important;
}

ion-content {
  background-image: url(../assets/imgs/background-02.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #eeeeee;
  padding: 0;
  background-size: cover !important;
  color: #ffffff !important;
  font-family: BungeeInline !important;
  text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.3);
}
.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
  border-bottom-color: transparent!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}
.borders {
  border-left: 1pt rgba(255, 255, 255, 0.5) solid;
  border-right: 1pt rgba(255, 255, 255, 0.5) solid;
}

.back-border {
  border-left: 1pt #ffffff solid;
}

.goalsList {
  border-bottom: #000000 2pt solid;
}

.goalsList .advancePercentage {
  font-size: 22pt;
}

.options {
  font-size: 7pt;
}

.icon-home {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 12px;
  right: 20px;
  background: none;
}

.icon-home-ios {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
}

.description {
  p.title {
    font-weight: bold;
    font-size: 12pt;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  p {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-size: 11pt;
    text-align: justify;
    margin-top: 0;
  }
}
.ico-logo-header {
  background-image: url("../assets/imgs/logo-ico.svg");
  background-repeat: no-repeat;
}
.ico-logo-home {
  background-image: url("../assets/imgs/logo-white.svg");
  width: 30%;
  height: 10%;
  position: absolute;
  background-repeat: no-repeat;
  margin: 0 35%;
  left: 0;
}
.ico-logo-about-us {
  background-image: url("../assets/imgs/logo-white.svg");
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
}
.content-advance-goal-gif {
  height: 200pt;
}
.advance-goal-gif {
  background-image: url(../assets/imgs/advance-goal.gif);
  width: 100%;
  height: 200pt;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 230pt;
  background-position: center;
}
.content-icon{
  height: 90pt;
}
.content-icon .ico-logo-home {
  width: 100%;
}
.item-md {
  padding-left: 0!important;
  background-color: transparent!important;
}
.list-md .item-block .item-inner {
  border: 2px solid #ffffff!important;
  margin-bottom: 8px;
}
.item-input .label-md, .item-select .label-md, .item-datetime .label-md {
  color: #fff!important;
  padding-left: 9px;
}
.list-md {
  font-family: "Arial Black", Arial!important;
}
.options {
  font-family: Arial black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.goalsList .advancePercentage {
  font-size: 22pt;
  position: relative;
  display: flex;
  align-items: center;
}
.advancePercentage sub {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0!important;
  height: 100%;
  display: flex;
  align-items: center;
}
.options .col {
  text-align: center;
}
.item-md {
  color: #fff!important;
}
.button-md {
  background-color: rgba(255,255,255,0.3)!important;
  border: solid 2px #fff;
  box-shadow: none;
  height: 5.6rem!important;
}
.button-full-md {
  border-left: 1.5pt solid!important;
  border-right: 1.5pt solid!important;
}
.alpha {
  opacity: 0.7!important;
}
.logo-facebook {
  background: url(../assets/imgs/facebook.svg);
  background-size: cover;
}
.logo-instagram {
  background: url(../assets/imgs/instagram.svg);
  background-size: cover;
}
.logo-whatsapp {
  background: url(../assets/imgs/whatsapp-logo.svg);
  background-size: cover;
}
.logo-share {
  background: url(../assets/imgs/share.svg);
  background-size: cover;
}
.logo-cup{
  background: url(../assets/imgs/cup.svg);
  background-size: cover;
  height: 40pt;
  width: 45pt;
  border-radius: inherit;
}

.text-center, .text-center p {
  text-align: center;
}
.text-left, .text-left p {
  text-align: left;
}
ion-row {
  text-align: center;
  ion-icon {
    border-radius: 50%;
    font-size: 28pt;
    padding: 12pt;
    height: 40pt;
    width: 40pt;
    margin: 5pt;
  }
}
.separator {
  display: block;
  width: 100%;
  position: relative;
}
.calendar {
  border: solid 2px #ffffff;
  margin-bottom: 8px;
  .div-title {
    border-bottom: solid 2px #ffffff;
    height: 50px;
    padding: 12px 8px;
    font-size: 16px;
  }
  [col-1] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 14.285714285714286%;
    width: 14.285714285714286%;
    max-width: 14.285714285714286%;
  }
  .col {
    text-align: center;
    padding: 5px;
  }
  .last-month, .next-month {
    color: #999999;
    font-size: 90%;
  }
  .currentDate, .otherDate {
    padding: 5px;
  }
  .currentDate {
    font-weight: bold;
    background-color: red;
    color: white;
    border-radius: 30px;
  }
  .calendar-header {
    color: #FFFFFF;
    .calendar-month {
      height: 33px;
    }
    ion-row ion-icon {
      border-radius: 50%;
      font-size: 26pt;
      padding: 0pt;
      height: 28pt;
      width: 40pt;
      margin: 0pt;
    }
  }
  .event-bullet {
    margin: 2px auto;
    height: 5px;
    width: 5px;
    background-color: green;
    border-radius: 30px;
  }
  .selected-date {
    width: 20px;
    height: 2px;
    background-color: blue;
  }
  .unselected-date {
    border: none;
  }
  .calendar-body {
    .grid {
      padding: 0;
    }
    .col:last-child {
      border-right: none;
    }
    .calendar-weekday, .calendar-date {
      text-align: center;
      margin: 0;
    }
    .calendar-weekday {
      font-weight: bold;
      // background-color: #26ab56;
    }
    .calendar-date {
      // border-top: solid 1px #1a732d;
      // border-bottom: solid 1px #1a732d;
    }
    ion-footer {
      .button.button-md.button-default.button-default-md.button-full.button-full-md.button-md-primary {
        background-color: #488aff !important;
      }
    }
  }
}
