<!--
  Generated template for the AccomplishmentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>LOGROS</ion-title>
    <!-- botones android showWhen="android" -->
    <div showWhen="android" class="ico-logo-header icon-home" (click)="generalFunctions.gotoHome(navCtrl)"></div>
    <!-- botones ios -->
    <div showWhen="ios" class="ico-logo-header icon-home-ios" (click)="generalFunctions.gotoHome(navCtrl)"></div>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="taskList?.length > 0; then contentList else contentNoList"></div>
  <ng-template #contentList>
    <ion-row *ngFor="let goal of taskList" class="goalsList">
      <ion-col col-7>
        <ion-row>
          <ion-col class="text-left" text-uppercase>{{goal.task_name}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p class="options" text-uppercase>invertiste {{ (goal.task_repetitions * goal.task_intensity)}} minutos para
              alcanzar esta meta</p>
            <p text-uppercase>eres un ganador</p>
          </ion-col>
        </ion-row>
        <ion-row class="options">
          <ion-col col-5>REINICIAR</ion-col>
          <ion-col class="back-border" (click)="confirmDeleteTask(goal.task_id)">ELIMINAR</ion-col>
        </ion-row>
      </ion-col>
      <ion-col class="advancePercentage">
        <div class="separator">
          <ion-icon class="logo-cup"></ion-icon>
        </div>
        <div class="separator">
            100<sub>%</sub>
        </div>
        <div class="separator">
          <ion-icon class="logo-facebook"></ion-icon>
          <ion-icon class="logo-instagram"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ng-template>
  <ng-template #contentNoList>
    <ion-row>
      <ion-col>
        No tienes objetivos creados
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button full (click)="goAdvance()">ir a avanzar</button>
      </ion-col>
    </ion-row>
  </ng-template>
</ion-content>
