<!--
  Generated template for the AdvancePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>AVANZAR OBJETIVO</ion-title>
    <!-- botones android showWhen="android" -->
    <div showWhen="android" class="ico-logo-header icon-home" (click)="generalFunctions.gotoHome(navCtrl)"></div>
    <!-- botones ios -->
    <div showWhen="ios" class="ico-logo-header icon-home-ios" (click)="generalFunctions.gotoHome(navCtrl)"></div>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div *ngIf="taskList?.length > 0; then contentList else contentNoList"></div>
  <ng-template #contentList>
    <ion-row *ngFor="let task of taskList" class="goalsList">
      <ion-col col-9>
        <ion-row>
          <ion-col text-uppercase>{{task.task_name}}</ion-col>
        </ion-row>
        <ion-row class="options">
          <ion-col (click)="advanceTask(task)">AVANZAR</ion-col>
          <ion-col (click)="editTask(task)" class="borders">EDITAR</ion-col>
          <ion-col (click)="confirmDeleteTask(task.task_id)">ELIMINAR</ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-3 class="advancePercentage">{{(task.task_progress * 100) | number:'2.0-0'}}<sub>%</sub></ion-col>
    </ion-row>
  </ng-template>
  <ng-template #contentNoList>
    <ion-row>
      <ion-col>
        No tienes objetivos creados
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button full (click)="goCreate()">crear</button>
      </ion-col>
    </ion-row>
  </ng-template>

</ion-content>
